
@import "tailwindcss";

@font-face {
    font-family: 'MyFont';
    src: url('/fonts/MyFont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  /* Optional: set as default globally */
  * {
    font-family: 'MyFont', sans-serif;
  }